name: Build
on: push
jobs:
  build:
    name: build flutter web
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '2.0.5'
    - run: flutter pub get
    - run: flutter build web --web-renderer=html
    - run: mv build/web ./page
    - uses: EndBug/add-and-commit@v7 # You can change this to use a specific version
      with:
        # The arguments for the `git add` command (see the paragraph below for more info)
        # Default: '.'
        add: '.'

        # The name of the user that will be displayed as the author of the commit
        # Default: depends on the default_author input
        author_name: "Github Action"

        # The email of the user that will be displayed as the author of the commit
        # Default: depends on the default_author input
        author_email: github@guategeeks.com

        # Name of the branch to use, if different from the one that triggered the workflow
        # Default: the branch that triggered the run
        branch: gh-pages

        # The local path to the directory where your repository is located. You should use actions/checkout first to set it up
        # Default: '.'
        cwd: './page'

        # Determines the way the action fills missing author name and email. Three options are available:
        # - github_actor -> UserName <UserName@users.noreply.github.com>
        # - user_info -> Your Display Name <your-actual@email.com>
        # - github_actions -> github-actions <email associated with the github logo>
        # Default: github_actor
        default_author: github_actor

        # The message for the commit
        # Default: 'Commit from GitHub Actions (name of the workflow)'
        message: 'Update Page'

        # The flag used on the pull strategy. Use NO-PULL to avoid the action pulling at all.
        # Default: '--no-rebase'
        pull_strategy: 'NO-PULL or --no-rebase or --no-ff or --rebase'

        # Whether to push the commit and, if any, its tags to the repo. It can also be used to set the git push arguments (see the paragraph below for more info)
        # Default: true
        push: true

        # The arguments for the `git rm` command (see the paragraph below for more info)
        # Default: ''
        remove: ''

        # Whether to use the --signoff option on `git commit` (only boolean values accepted*)
        # Default: false
        signoff: false

        # Arguments for the git tag command (the tag name always needs to be the first word not preceded by an hyphen)
        # Default: ''
        tag: ''